  /* Forms */
  input, textarea {
    margin-bottom: 1.2rem;
    }
  
    .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
    }
  
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    input[type='number'],
    select,
    textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid $border-color;
    font-size: 90%;
    }
  
    input[type='submit'],
    button {
    font: inherit;
    }
  