.shadow{
  box-shadow: 2px 4px 4px rgba($color: #000000, $alpha: .1);
}

.bg-img{
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.bg-fixed{
  background-attachment: fixed;
}

.rounded{
  border-radius: 4px;
}

.circle, .pill{
  border-radius: 999px;
}

.full-vh{
	min-height: 100vh;
}

.full-w{
  width: 100%;
}
a{
	text-decoration: none;
  transition: .4s ease;
}

.btn{
  outline: none;
}

@for $i from 0 through 10{
  .opacity-#{$i}{
    opacity: $i / 10;
  }
}
code{
  background-color: #333333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
